
{% extends 'partials/base.html' %}

{% block title %}Client Order page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4 ">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-{{ message.tags }}">
            <h4>{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        <!-- <div class="col-md-6 offset-md-3 ">
            <div class="border p-3 bg-white ">
                <div class="alert alert-danger">
                    <h4>You have been log out, see you soon!</h4>
                </div>
                 <a href="{% url 'user-login' %}">Login</a>                   
            </div>
        </div> -->
        <!-- <div class="card card-body mb-3">
            <h5>Search Purchase Order</h5>
            <hr>
           
            <a href="{% url 'dashboard-purchase-order-list' %}">
                <button class="btn btn-primary btn-block" type="button">Search</button>
            </a>    
           
                
            
        </div> -->
        <div  class="card card-body">
            <h5>New Client Order</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
               
                
                <input class="btn btn-success btn-block" type="submit" value="Add Order" >
            </form>
        </div>
    
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Order No</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.orderCode }}</td>
                    <td>{{ order.product.code }}</td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.client.name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.order_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
