
{% extends 'partials/base.html' %}
{% block title %}Clients page{% endblock %}
<!-- Loading crispy to form -->
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Client</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ forms|crispy }}
               
                
                <input class="btn btn-success btn-block" type="submit" value="Add Client">
            </form>
        </div>
    </div>
    <div class="col-md-8">  
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Activity</th>
                   
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                   
                    <td>{{ client.name }}</td>
                    <td>{{ client.telephone }}</td>
                    <td>{{ client.email }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'dashboard-client-update' client.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'dashboard-client-delete' client.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
